<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Reset password</title>
    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Condiment&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

      html {
        width: 100%;
      }
      body {
        background-color: #fff;
        margin: 0;
        padding: 0;
        color: #000000;
        font-family: "Poppins", sans-serif;
      }

      table {
        border-collapse: collapse;
      }

      a {
        text-decoration: none !important;
      }
      @media only screen and (max-width: 600px) {
        table {
          width: 100% !important;
          margin: 0 auto !important;
        }
      }
    </style>
  </head>

  <body>
    <table
      style="padding: 0; margin: 0"
      border="0"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      align="center"
      bgcolor="#ffffff"
    >
      <tbody>
        <tr>
          <td align="center" bgcolor="#ffffff" bgcolor="#ffffff">
            <table
              border="0"
              width="600"
              cellspacing="0"
              cellpadding="0"
              bgcolor="#ffffff"
            >
              <tbody>
                <tr>
                  <td style="padding: 15px">
                    <table
                      border="0"
                      width="100%"
                      cellspacing="0"
                      cellpadding="0"
                      bgcolor="#ffffff"
                    >
                      <tbody>
                        <tr>
                          <td style="padding-bottom: 15px">
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td align="left">
                                    <a href="index.html">
                                      <img
                                        src="http://127.0.0.1:9900/image/innerlogo.svg"
                                        alt=""
                                        style="max-width: 150px"
                                      />
                                    </a>
                                  </td>
                                  <td align="right">
                                    <a href="tel:+18006590187">
                                      <img
                                        src="http://127.0.0.1:9900/image/callnum.png"
                                        alt=""
                                        style="max-width: 140px"
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    style="border-bottom: 1px solid #dadada"
                                  ></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <table
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tr>
                                <td>
                                  <div
                                    style="
                                      text-align: center;
                                      padding: 40px 15px;
                                    "
                                  >
                                    <h1
                                      style="
                                        margin-top: 0px;
                                        margin-bottom: 10px;
                                        font-size: 20px;
                                        color: #000;
                                      "
                                    >
                                      Change or reset your password
                                    </h1>
                                    <p
                                      style="
                                        font-size: 14px;
                                        color: #000;
                                        margin-top: 5px;
                                        margin-bottom: 10px;
                                      "
                                    >
                                      You can change your password for security
                                      reasons or reset it if you forget it.
                                    </p>
                                    <div
                                      style="
                                        text-align: center;
                                        padding-top: 20px;
                                      "
                                    >
                                      <a
                                        href="<%= verificationLink %>"
                                        style="
                                          color: #fff;
                                          background-color: #3daad5;
                                          padding: 10px;
                                          text-decoration: none;
                                          font-size: 14px;
                                          border-radius: 5px;
                                        "
                                        >Change password</a
                                      >
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td style="padding-top: 30px">
                            <table
                              border="0"
                              width="100%"
                              cellspacing="0"
                              cellpadding="0"
                              bgcolor="#ffffff"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <div
                                      style="
                                        border-top: 1px solid #dadada;
                                        padding-top: 30px;
                                        padding-bottom: 10px;
                                        text-align: center;
                                      "
                                    >
                                      <a href="#"
                                        ><img
                                          src="http://127.0.0.1:9900/image/fbicon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="http://127.0.0.1:9900/image/twicon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="http://127.0.0.1:9900/image/yticon.png"
                                          alt=""
                                          width="35" /></a
                                      >&nbsp;&nbsp;&nbsp;<a href="#"
                                        ><img
                                          src="http://127.0.0.1:9900/image/igicon.png"
                                          alt=""
                                          width="35"
                                      /></a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
